body{
  background-color: black;
  text-align:center;
}

.biggest-font{
  color: white;
  font-size:50px;
  font-family:"verdana",serif;
}

p{
  color:white;
  font-size:42px;
  font-weight:300;
  font-family:"verdana", serif;
}

.smallest-font{
  color:gray;
  font-size:21px;
  font-family:"verdana", serif;
}

a{
  font-size:16px;
  display:block;
  color:aquamarine;
  font-family:verdana;
  font-weight:500;
  margin:20px;
}

.img{
  display:block;
  margin:21px;
}

footer{
  text-align:right;
  color:grey;
  font-size:25px;
  font-family:verdana,serif;
}

@media only screen and (max-width:500px){
  body{
    text-align: left;
    background-color:green;

  }
  .big{
    width:120px;
  }
}
